<div class="audio-record-content">

  <div class="audio-record" *ngIf="!recording">
    <p class="audio-placeholder" style="color: green">
      click to start recording
    </p>
    <img 
    src="../../../assets/thi.jpeg"
    (click)="StartRecording()"
    class="mic-icon"
    />
  </div>

<div class="audio-record" *ngIf="recording">
  <p class="audio-placeholder" style="color: red">click to stop recording</p>
<img 
src="../../../assets/thi.jpeg"
(click)="stopRecording()"
class="mic-icon"
/>
</div>

<audio class="audio-file" controls *ngIf="url">
  <source [src]="sanitize(url)" type="audio/wav"/>
</audio>
</div>

<router-outlet></router-outlet>
